<!DOCTYPE html>
<html>
    <body>
        <form action="{% url 'submission' exercise.token %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ submission.id }}" name="submission_id" />
            <fieldset>
                {% for q in questions %}
                    <div class="question">
                        <span class="note-image">{{ q.svg |safe }}</span>
                        <input type="text" name="pitch{{ forloop.counter0 }}" value="{{ q.answer }}"></input>
                        {% if q.answer %}
                            {% if q.correct %}
                            <span class="answer-correct">✔</span>
                            {% else %}
                            <span class="answer-wrong">✖</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
