{% load i18n %}
{% load static %}

{% translate "Submit" as submit %}
{% translate "Try again" as try_again %}

<html>
    <head>
        <title>{{ submission.token.title }} - NoteCheck</title>
        <link rel="bookmark icon" type="image/png" href="{% static 'notecheck/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'notecheck/style.css' %}">
    </head>
    <body>
        {% if submission.duration %}
        <div class="score">
            <span class="blink">
                {% if num_correct == questions|length %}
                    🏆
                {% elif top_10 %}
                    🏅
                {% endif %}
            </span>

            {{ num_correct }} / {{ questions|length }}

            <span class="blink">
                {% if num_correct == questions|length %}
                    🏆
                {% elif top_10 %}
                    🏅
                {% endif %}
            </span>
        </div>
        {% endif %}
        <form action="{% url 'submission' exercise.token %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ submission.id }}" name="submission_id" />
            <fieldset>
                {% for q in questions %}
                    <div class="question">
                        <span class="note-image">{{ q.svg |safe }}</span>
                        <input type="text" name="pitch{{ forloop.counter0 }}" value="{{ q.answer }}"
                               {% if submission.duration %}disabled{% endif %} />
                        {% if q.answer %}
                            {% if q.correct %}
                            <span class="answer-correct">✓</span>
                            {% else %}
                            <span class="answer-wrong">✗</span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            {% if not submission.duration %}
                <input type="submit" value="{{ submit }}"/>
            {% else %}
                <a id="try_again" href="{% url 'submission' exercise.token %}">{{ try_again }}</a>
            {% endif %}
        </form>
    </body>
</html>
