{% load i18n %}
{% load static %}

{% translate "Submit" as submit %}
{% translate "Try again" as try_again %}

<html>
    <head>
        <title>{{ submission.token.title }} - NoteCheck</title>
        <link rel="bookmark icon" type="image/png" href="{% static 'notecheck/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'notecheck/style.css' %}">
    </head>
    <body>
        <h1>{{ exercise.get_title }}</h1>
        {% if submission.duration %}
        <div class="score" title="{{ duration }}">
            {% if besttime %}
            <span class="besttime">
                🏎
            </span>
            {% endif %}

            <span class="blink">
                {% if num_correct == answers|length %}
                    🏆
                {% elif top_10 %}
                    🏅
                {% endif %}
            </span>

            {{ num_correct }} / {{ answers|length }}

            <span class="blink">
                {% if num_correct == answers|length %}
                    🏆
                {% elif top_10 %}
                    🏅
                {% endif %}
            </span>
        </div>
        {% endif %}
        <form action="{% url 'submission' exercise.token %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ submission.id }}" name="submission_id" />
                {% for q in questions %}
                    <div class="question row">
                        <span class="scale-image">{{ q.svg |safe }}</span>
                        <fieldset>
                            {% for a in q.answers %}
                                <input type="text" name="answer{{ a.index }}" value="{{ a.answer }}" autocomplete="off"
                                       {% if submission.duration %}disabled{% endif %}
                                        {% if a.answer %}
                                            {% if a.correct %}
                                            class="answer-correct"
                                            {% else %}
                                            class="answer-wrong"
                                            {% endif %}
                                        {% endif %}
                                       />
                            {% endfor %}
                        </fieldset>
                    </div>
                {% endfor %}
            {% if not submission.duration %}
                <input type="submit" value="{{ submit }}"/>
            {% elif request.method == 'POST' %}
                <a id="try_again" href="{% url 'submission' exercise.token %}">{{ try_again }}</a>
            {% endif %}
        </form>
    </body>
</html>
