form {
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
    border:none;
}

fieldset {
    border: none;
}

body {
    text-align: center;
    margin:30px;
}

.score {
    font-size:26px;
}

.blink {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.besttime {
    font-size: 42px;
    top: -10px;
    position: absolute;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        right: 100%;
    }

    to {
        right: 0%;
    }
}

.question.grid {
    float:left;
    display:block;
    width:220px;
    height:180px;
}

.question.grid svg {
    width:200px;
    height:70px;
}

.question.grid input {
    display:block;
    width:50px;
    margin-left:90px;
}

.question.row {
    display:block;
    margin-bottom:40px;
}

.question.row svg {
    width:960px;
    height:95px;
}

.question.row input {
    float:left;
    width:50px;
    margin-left:69px;
}
.question.row input:first-child {
    margin-left:35px;
}


.answer-wrong {
   background:rgb(252, 232, 232);
 }

.answer-correct {
   background:rgb(232, 252, 232);
 }

#try_again,
input[type=submit] {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:140px;
    height:50px;
    color:green;
    background:rgb(245, 252, 242);
    text-align: center;
    text-decoration: none;
}

#try_again {
    padding-top: 25px;
    padding-bottom: -25px;
}